<% content_for :breadcrumbs do %>
<%= link_to @client.name, client_path(@client) %> &gt; <span>Presentations</span>
<% end %>

<h1>Presentations for <%= @client.name %></h1>

<% if current_user.administrator? %>
	<%= link_to 'New Presentation', new_client_presentation_path(@client) %>
<% end %>


<% if @presentations.empty? %>
	<p>This client does not have any presentations loaded</p>
<% end %>

<% @presentations.each do |presentation| %>

    <h2>
    	<%= presentation.name %>
	</h2>

	<p>
		<%= link_to "Show", client_presentation_path(@client, presentation) %>
		<% if current_user.administrator? %>
	    	 | <%= link_to 'Edit', edit_client_presentation_path(@client, presentation) %> | <%= link_to 'Destroy', client_presentation_path(@client, presentation), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
		
	<span>
	<% if presentation.has_concept? %>
		(<%= presentation.concepts.count%> concepts loaded)
		
		<%= link_to client_presentation_path(@client, presentation) do %>
		<%= image_tag presentation.concepts.first.image.url(:thumbnail), :class => "presentation_list_thumbnail" %>
		<% end %>
	<% else %>
		(concepts not yet loaded)
	<% end %>
	</span>
	
	<div><%= sanitize presentation.description %></div>

	<hr />
    
<% end %>
