<h1>Presentations for <%= @client.name %></h1>

<%= link_to 'New Presentation', new_client_presentation_path(@client) %> | 
<%= link_to "Back", client_path(@client) %>

<hr />

<% @presentations.each do |presentation| %>

    <h2>
    <%= 
          link_to presentation.name, client_presentation_path(@client, presentation) 
    %></h2>

      <p><%= link_to 'Edit', edit_client_presentation_path(@client, presentation) %> | <%= link_to 'Destroy', client_presentation_path(@client, presentation), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    
    <p><%= presentation.description %></p>
    
    
<% end %>
