<% content_for :document_ready do %>
	<%= render "document_ready_scripts" %>
<% end %>


<h1> <%= @presentation.name %> </h1>
<p> <%= @presentation.description %> </p>

<% if current_user.administrator? %>
	<%= link_to "New Concept", new_presentation_concept_path(@presentation), :class => "colorbox" %> |
<% end %>
	
<%= link_to "Back to #{@client.name} presentations", client_presentations_url(@client) %>

<hr />

<h2>Concepts</h2>
<ul id="Gallery" class = "gallery">
<% @presentation.concepts.each do |concept| %>
	<li>
		<a href = "<%= concept.image.url(:original) %>" class = "gallery_image">
			<%= image_tag concept.image.url(:thumbnail) %>
		</a>
		<%= link_to concept.name, presentation_concept_path(@presentation, concept) %> 
		
		<% if current_user.administrator? %>
		
		<p><%= concept.name %> <%= link_to 'Destroy', presentation_concept_path(@presentation, concept), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
			<% end %>
	</li>
<% end %>
</ul>
