<% content_for :document_ready do %>
	<%= render "document_ready_scripts" %>
<% end %>

<% content_for :breadcrumbs do %>
<%= link_to @client.name, client_path(@client) %> &raquo; 
<%= link_to "Presentations", client_presentations_path(@client) %> &raquo; 
<span><%= @presentation.name %></span>
<% end %>


<h1> <%= @presentation.name %> </h1>

<% if current_user.administrator? %>
	<%= link_to "Edit", edit_client_presentation_path(@client, @presentation) %>
<% end %>

<p> <%= sanitize @presentation.description %> </p>
	


<h2>Concepts</h2>

<% if current_user.administrator? %>
	<%= link_to "Add Concept", new_presentation_concept_path(@presentation), :class => "colorbox" %> 
<% end %>

<ul id="Gallery" class = "gallery">
	<% @presentation.concepts.each do |concept| %>
		<li>	
				<%= content_tag :h3, concept.name %>		

				<%= link_to presentation_concept_path(@presentation, concept) do %>
					<%= image_tag concept.image.url(:average), :alt => concept.name, :class => "gallery_image" %>
				<% end %>

			<p><%= link_to "Show", presentation_concept_path(@presentation, concept) %>
				<% if current_user.administrator? %>
				| <%= link_to 'Destroy', presentation_concept_path(@presentation, concept), :method => :delete, :data => { confirm: 'Are you sure?' } %> 
				<% end %>	
			</p>		

		</li>
	<% end %>
</ul>
