
<% content_for :breadcrumbs do %>
<span><%= @client.name %></span> 
<% end %>

<h1><%= @client.name %></h1>
<% if(current_user.administrator?) %>
<%= link_to "Edit", edit_client_path(@client) %>
<% end %>
<p>
	<%= sanitize @client.description %>
</p>
<ul>
  <li><%= link_to "View Client Presentations", client_presentations_path(@client) %></li>
</ul>