
<% content_for :breadcrumbs do %>
<span><%= @client.name %></span> 
<% end %>



<h1><%= @client.name %></h1>
<% if(current_user.administrator?) %>
<%= link_to "Edit", edit_client_path(@client) %>
<% end %>
<p>
	<%= image_tag @client.logo.url(:original), :id => "client_logo" if(@client.logo.present?) %>
	<%= sanitize @client.description %>
</p>

<hr /><br />
<%= link_to "Proceed to presentations >>", client_presentations_path(@client), :class => "button" %>
