<%= form_for([@presentation, @concept], :remote => true || false) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "redactor" %>
  </div>
  <div class="field">
	<br />
 	<%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>