
<% content_for :breadcrumbs do %>
	<%= link_to @client.name, client_path(@client) %> &raquo;
	<%= link_to "Presentations", client_presentations_path(@client) %> &raquo;
	<%= link_to @concept.presentation.name, client_presentation_path(@client,@presentation) %> &raquo;
	<span><%= @concept.name %></span>
<% end %>

<%= content_tag :h2, @concept.name %>

<div id = "concept_actions">
<% if current_user.administrator? %>
	<%= link_to "Edit", edit_presentation_concept_path(@presentation, @concept)%> 
	| <%= link_to 'Destroy', presentation_concept_path(@presentation, @concept), :method => :delete, :data => { confirm: 'Are you sure?' } %> 
	<br />
<% end %>


</div>

<div id = "concept_image">
	<%= image_tag @concept.image.url(:zoomed_out) %>
</div>


<div id="concept_description">
	<%= link_to "Previous", presentation_concept_path(@presentation, @concept.previous_concept) %>
	<%= link_to "Next", presentation_concept_path(@presentation, @concept.next_concept) %>
	<br /><br />
	<%= link_to "Annotate", concept_annotations_path(@concept) %> |
	<%= link_to "Enlarge", @concept.image.url(:original), :id => "enlarge_concept_image" %> |
	<%= link_to "View Full Size", @concept.image.url(:original), :target => "_blank" %>
<%= sanitize(@concept.description) %>
</div>


<% content_for :document_ready do %>

<script type = "text/javascript">
	$(document).ready(function(){
    	$('#concept_image').zoom({url: '<%= @concept.image.url(:original) %>'});
	});
</script>

<% end %>
 
