<!DOCTYPE html>
<html>
<head>
  <title>DigitalWall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
	<div id = "auth_controls">
		<%= link_to "Manage Users", users_path if current_user && current_user.administrator? %>
  		<%= link_to "Log Out", log_out_path if current_user %>
	</div>
	
	<% unless(flash.empty?) %>
		<div id = "flash_messages">
  			<% flash.each do |name, msg| %>
      			<%= content_tag :div, msg, :id => "flash_#{name}" %>
  			<% end %>
		</div>
	<% end %>

  	<%= yield %>

  	<%= yield :document_ready %>

</body>
</html>
