<!DOCTYPE html>
<html>
<head>
  <title>DigitalWall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "container">
    <header>
	  <h1><%= link_to "Digital Wall", clients_path %> </h1>

	<%= render :partial => "shared/account_links" %>

	</header>
	<nav id="breadcrumbs">

	<% if(current_user)%>
		<%= link_to "Home", root_url %>
		<% if(content_for? :breadcrumbs)%> &raquo; <% end %>
	<% end %>
		
	<%= yield :breadcrumbs %>
	
	</nav>

  	<%= yield %>

  	<%= yield :document_ready %>

	<%= render "shared/flash_messages" %>
  </div>
</body>
</html>
